# dependencies
Frontend/vite-project/node_modules
backend/node_modules

# builds
frontend/dist
backend/dist
backend/logs

# environment variables
frontend/.env
backend/.env

# system/editor files
.DS_Store
.vscode/
.idea/
*.log
